@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("font/NotoSansKR-Regular.woff") format("woff"), url("font/NotoSansKR-Regular.woff2") format("woff2"), url("font/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url("font/NotoSansKR-Medium.woff") format("woff"), url("font/NotoSansKR-Medium.woff2") format("woff2"), url("font/NotoSansKR-Medium.otf") format("opentype");
}