.main_header_slider_area{
    margin-left:200px;
}

.main_header_slider{

}

.main_header_slider_cntnt > div{
    position:absolute;
    top:150px;
    left:0px;
    width:100%;
    height:300px;
    display:flex;
}

.main_header_slider_cntnt > div div:nth-child(1){
    width:5%;
}
.main_header_slider_cntnt > div div:nth-child(2){
    width:95%;
}
.main_header_slider_cntnt > div div:nth-child(2) > p:nth-child(1){
    font-size:40px;
    color:#30c7a4;
}
.main_header_slider_cntnt > div div:nth-child(2) > p:nth-child(2){
    margin-top:10px;
    font-size:40px;
}
.main_header_slider_cntnt > div div:nth-child(2) > p:nth-child(3){
    margin-top:30px;
    font-size:15px;
}
.main_header_slider_cntnt > div div:nth-child(2) > p:nth-child(4){
    margin-top:10px;
    font-size:15px;
}

.main_header_slider_cntnt > img{
    width:50%;
    /* height:150px; */
    float:right;
}
.main_header_slider_img2{
    
}

.main_header_slider_area .slick-prev {
    background-image: url(../../../public/images/main/main_slider_prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    opacity: 10;
}
.main_header_slider_area .slick-prev:before {
    content: '' !important;
}
.main_header_slider_area .slick-next {
    background-image: url(../../../public/images/main/main_slider_next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    opacity: 1;
}
.main_header_slider_area .slick-next:before {
    content: '' !important;
}

.main_header_slider_area .slider_btn_area{
    position:absolute;
    bottom:20%;
    left:10px;
}
.main_header_slider_area .slider_btn_area .slider_btn_play{
    position:relative;
    top:130px;
    right:0px;
    width:50px;
    border:1px solid lightgray;
    background-image: url(../../../public/images/main/main_slider_play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    z-index:2;
}
.main_header_slider_area .slider_btn_area .slider_btn_pause{
    position:relative;
    top:79px;
    right: 0px;
    width:50px;
    border:1px solid lightgray;
    background-image: url(../../../public/images/main/main_slider_pause.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    z-index:3;
}

.main_header_slider_area .slider_btn_area .slider_btn_play.active{
    z-index:4;
}



.main_footer_slider_area{
    background-color:lightgray;
    /* width:1000px; */
    
}
.main_footer_slider_area > .slick-slider{
    width: 70%;
    margin: 0 auto;
}

.main_footer_slider {
    height:400px;
    /* margin: 20px; */
    text-align: -webkit-center;
}
.main_footer_slider_img{
    height:300px;
    padding: 20px;
    padding-top: 100px;
}
.main_footer_slider_img.img_3rd{
    padding-top: 90px;
}
.main_footer_slider_info {
    text-align: center;
}

.main_footer_slider_info span:nth-child(1){
    font-weight:bold;
    font-size:15px;
    margin-right:5px;
}
.main_footer_slider_info span:nth-child(2){
    font-size:10px;
    color:peru;
}

.main_footer_slider_area .slick-prev:before, .slick-next:before{
    font-size: 50px;
}

.main_footer_slider_area .slider_btn_area .slider_btn_play{
    position:relative;
    bottom:390px;
    right:280px;
    width:50px;
    border:1px solid gray;
    background-image: url(../../../public/images/main/main_slider_play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
    z-index:2;
    cursor:pointer;
}
.main_footer_slider_area .slider_btn_area .slider_btn_pause{
    position:relative;
    bottom:390px;
    right: 330px;
    width:50px;
    border:1px solid gray;
    background-image: url(../../../public/images/main/main_slider_pause.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
    z-index:3;
    cursor:pointer;
}

.main_footer_slider_area .slider_btn_area .slider_btn_play.active{
    z-index:4;
}

.main_footer_slider_area h2 {
    font-size:30px;
    top: 50px;
    left: 200px;
    width: 200px;
}