.nav{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 99;
 
}
a {color: #fff; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none; color:#fff;}

.nav li a{
   color: #000;
   padding: 0 10px;
   
}


